.clock {
  position: relative;
  background-color: red;
  width: 300px;
  height: 300px;
}

.short-hand {
  position: absolute;
  bottom: 150px;
  left: 150px;
  border: 2px solid blue;
  width: 2px;
  height: 75px;
}

.long-hand {
  position: absolute;
  bottom: 150px;
  left: 150px;
  border: 2px solid green;
  width: 2px;
  height: 100px;
}

.seconds-hand {
  position: absolute;
  bottom: 150px;
  left: 150px;
  border: 2px solid yellow;
  /* transform-origin: "left center"; */
  width: 2px;
  height: 120px;
}
